body{
  background-color: black;
}
.blue-text{
  color: rgb(0, 229, 255);
  font-size: 2.5rem;
}
.bg-blue{
    color: rgb(0, 229, 255);
}
.navbar{
background: linear-gradient(to bottom, rgb(21, 160, 214), rgb(224, 222, 222));
}
.navbar-brand{
  color: black;
  font-weight: bold;
  font-size: 1rem;
}
.nav-link{
  font-size: larger;
}
.nav-link:hover{
  border-radius: 10px ;
  color: rgb(255, 255, 255);
   text-shadow: 0 0 10px rgb(7, 233, 245);
}
#contact{
  padding-top: 65px;
}
